<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- QOL CLI Tools -->
  <package id="bat" version="0.24.0" />
  <package id="git" version="2.45.2" />
  <package id="lsd" version="1.1.2" />
  <package id="python" version="3.12.3" />
  <package id="starship" version="1.19.0" />
  <package id="visualstudio2022-workload-vctools" version="1.0.0" />

  <!-- QOL Apps -->
  <package id="1password" version="7.9.835" />
  <package id="alacritty" version="0.13.2" />
  <package id="powertoys" version="0.81.1" />
  <package id="rancher-desktop" version="1.13.1" />

  <!-- Web Browsers -->
  <!-- TODO: Add Arc Browser -->
  <package id="firefox" version="126.0.1" />
  <package id="googlechrome" version="125.0.6422.142" />
  <package id="microsoft-edge" version="125.0.2535.85" />

  <!-- Fonts -->
  <package id="nerd-fonts-jetbrainsmono" version="3.2.1" />
</packages>

