<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- QOL Apps -->
  <package id="1password" version="7.9.835" />
  <package id="alacritty" version="0.13.2" />
  <package id="powertoys" version="0.81.1" />
  <package id="rancher-desktop" version="1.13.1" />

  <!-- Web Browsers -->
  <!-- TODO: Add Arc Browser -->
  <package id="firefox" version="126.0.1" />
  <package id="googlechrome" version="125.0.6422.142" />
  <package id="microsoft-edge" version="125.0.2535.85" />

  <!-- Fonts -->
  <package id="nerd-fonts-jetbrainsmono" version="3.2.1" />
</packages>

